body {
  background-image: url("../img/home-min.webp");
}

.backdrop {
  flex: 1;
  backdrop-filter: grayscale(50%) blur(20px) brightness(20%);
}

.logo {
  font-style: italic;
  font-weight: 400;
}

main {
  height: 100%;
  flex: 1;
  display: grid;
  padding-top: 15vh;

  h1 {
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
    animation-duration: 3s;
    animation-name: fadeInLeft;
    animation-timing-function: ease;

    @starting-style {
      opacity: 0;
      transform: translateX(-50%);
    }
  }

  place-items: center;
}


.song-select {
  position: relative;
  scroll-timeline: --song-select-scroll;
  mask-image: linear-gradient(to right, white 0%, white 50%, black 100%);

  ul {
    max-width: 50ch;
    mask: linear-gradient(to right, transparent 0, black 30%, black 70%, transparent 100%);
    display: flex;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    gap: 3rem;
    margin-top: 3rem;
    padding: 1rem;
    padding-inline: 25ch;
    scroll-snap-type: x mandatory;
    font-size: 1.5rem;
    transition: opacity 0.2s;
    cursor: pointer;

    li {
      transition: scale 0.5s;
      scroll-snap-align: center;
      text-wrap: nowrap;

      &.focused {
        scale: 1.5;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  25% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.casette {
  position: relative;
  /* border: 1px solid sandybrown; */

  .circle-left {
    position: absolute;
    top: 35.5%;
    left: 22%;
  }

  .circle-right {
    position: absolute;
    top: 35.5%;
    left: 64%;
  }
  span {
    position: absolute;
    top: 10%;
    font-weight: bold;
    left: 0;
    right: 0;
    color: #111;
    font-size: 1rem;
    font-family: 'Shadows Into Light', Courier, monospace;
    mix-blend-mode: multiply;
    opacity: 0.7;
  }
  /* background-image: url("../img/before_cassette-min.webp"); */
}

.spin {
  animation: spin infinite 3s linear;
}