body {
  min-height: 100svh;
  background-color: var(--color-bg);
}

header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  border-bottom: 1px solid var(--color-text);
}

nav {
  font-size: 2rem;

  ul {
    list-style: none;
    display: flex;
    gap: 1;

    li {
      padding: 0.5rem;
    }

    li:not(:first-child) {
      border-left: 1px solid var(--color-text);
    }
  }

}

main {
  place-items: center;
  text-align: center;
}