html {
  background-color: black;
}
html {
  font-size: 16px;
}
body {
 margin: 0;
 min-height: 100vh;
  background-image: url("../img/pricing-min-blurred.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pricing-page {
  display: flex;
  justify-content: center;
  padding: 4rem 1.5rem;
  color: white;
}

.pricing-container {
  max-width: 700px;
  margin-top: 3rem;
}

.pricing-main {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.underline {
  text-decoration: underline;
}

.pricing-sub {
  font-family: "Raleway", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.pricing-divider {
  border: none;
  height: 2px;
  background: white;
  margin: 2rem 0;
}

.pricing-heading {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.addons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
}

.addon {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;

  display: inline-block;
  text-align: left;
}

.addon-note {
  font-size: 0.5rem;
  font-weight: 500;
  opacity: 0.8;
}
